/* CampaignSlider.css */
/* .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .diamond-pattern {
    background-image: radial-gradient(#244e74 2px, transparent 2px);
    background-size: 80px 80px;
    background-repeat: repeat;
  }
   */